<!-- 

 -->

 <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand fontType" href="#">The BEATLES: Studio Years</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-face" href="#"><i class="fas fa-microphone-alt"></i> The Artists</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-face" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-record-vinyl"></i> 
            The Albums
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item font-face" href="#">Action</a>
            <a class="dropdown-item font-face" href="#">Another action</a>
            <a class="dropdown-item font-face" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>