<!DOCTYPE html>
<html>

<head>
    <%- include('partials/template/head.ejs')  %> 
</head>

<body>

    <%- include('partials/content/header.ejs')  %> 

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="maincontent">
                    <article class="article">
                        <h1 class="article-title">Studio Years</h1>
                        <p>Freed from the burden of touring, the Beatles embraced an increasingly experimental approach. The albums featured sophisticated songwriting, studio experimentation, and a greatly expanded repertoire of musical styles, ranging from innovative classical string arrangements to psychedelic rock.</p>
                    </article><!-- article -->
                    <div class="row">
                        <%- include('partials/content/artwork.ejs')  %>
                    </div><!-- secondary -->
                    <article class="article">
                </div>
            </div><!-- primary -->            
        </div>
    </div><!-- container -->
    <%- include('partials/template/jsdefaults.ejs')  %> 
</body>

</html>


