<!DOCTYPE html>
<html>

<head>
    <%- include('partials/template/head.ejs')  %> 
</head>

<body>

    <%- include('partials/content/header.ejs')  %> 

    <div class="container-fluid grad w-100">
        <div class="row">
            <div class="col-sm-8 maincontent ">
                        <h1 class="article-title">Studio Years: 1966-1970</h1>
                        <p>Freed from the burden of touring, the Beatles embraced an increasingly experimental approach. The albums featured sophisticated songwriting, studio experimentation, and a greatly expanded repertoire of musical styles, ranging from innovative classical string arrangements to psychedelic rock.</p>

                        <%- include('partials/content/artwork.ejs')  %>
            </div>         
        </div>
    </div><!-- container -->
    <%- include('partials/template/jsdefaults.ejs')  %> 
</body>

</html>


