<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('template/head.ejs') %> 
</head>
<body>
    <!-- Start of NavBar -->
    <div class="container-fluid h-100 w-100">
        <div class="row">
            <div class="col-sm col-md col-lg d-flex bg-warning">
                <%- include('content/navbar.ejs') %> 
            </div>
        </div>
        <!-- End of NavBar -->

        <!-- Start of Main Content -->
        <div class="row">
            <div class="col-sm col-md col-lg d-flex justify-content-center w-100 h-100 bg-success">
                <h1 class="font-face">The BEATLES</h1>
            <h2 class="font-face">Studio Years</h2>
            <h2 class="font-face">1966-1970</h2>
            <p>In 1966, freed from the burden of touring, the Beatles embraced an increasingly experimental approach. Here are a collection of my favorite albums from the last 4 years of what some consider the greatest band of all time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md col-lg d-flex justify-content-center w-100">
                <%= include('partials/content/artwork.ejs') %> 
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Start of Footer -->
        <div class="row">
            <div class="col-sm col-md col-lg d-flex justify-content-center w-100 h-100 bg-primary">
                Footer
            </div>
        </div>
    </div>

    
</body>
</html>