
<!-- parameters : pageTitle-->


<title> The Beatles </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel='stylesheet' href='/css/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
<link href="css/fontawesome-free-5.13.1-web/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="css/webfontkit-20200720-231625/stylesheet.css" type="text/css" charset="utf-8" />
 
